body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 30%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    display: flex;
}


.tittle {
    flex: 1;
    padding: 0 40px; 
    width: 100%;
}

.text-center {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

label {
    font-size: 1rem;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btn-primary {
    background-color: #ae3f4f;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.custom-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.custom-control label {
    font-size: 0.9rem;
    color: #007bff;
    cursor: pointer;
}

.custom-control label:hover {
    text-decoration: underline;
}
