.container{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    gap: 50px;
}

.left{
    width: 50%;
}

.left>img{
    width: 100%;
    object-fit: contain;
}


