<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/Warm-foots/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="/public/css/ProductDetail.css">
</head>

<body>
    <div class="container">
        <div class="left">
            <img src="/public/imgs/Athletic Footwear/Classic Leather Sneakers.webp" alt="image product">
        </div>
        <div class="right">
            <div class="name-title">Premium Leather Chelsea Boots</div>
            <div class="plan">$25.00</div>
            <div class="size-title">Size</div>
            <div class="size-detail">
                <div class="size-detail-item">S</div>
                <div class="size-detail-item">M</div>
                <div class="size-detail-item">L</div>
            </div>
            <div class="quantity-controls">
                <button id="decrease">-</button>
                <input type="text" id="quantity" class="quantity-display" value="1" readonly>
                <button id="increase">+</button>
            </div>
            <button class="cart">Add to Cart</button>
            <button class="checkout">Checkout</button>
        </div>
    </div>
    <script src="/public/js/ProductDetail.js"></script>
</body>

</html>