<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/LayoutAdmin.css">
</head>
<body>
    <div class="content">
      <div class="left" id="left-panel">
            <div class="title-menu">
                <img src="/public/imgs/logo.png" alt="Image logo" class="logo" id="logo">
                <img src="/public/imgs/navbar.svg" alt="Image navbar" class="icon-navbar" id="navbar-icon">
            </div>
            <div class="menu" id="menu">
                <div class="menu-item">
                    <a href="#" class="menu-item-detail"> 
                        <img src="/public/imgs/profile.svg" alt="Icon Profile">
                        <div>Profile</div>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="#" class="menu-item-detail"> 
                        <img src="/public/imgs/icon-user.svg" alt="Icon User">
                        <div>Manage User</div>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="#" class="menu-item-detail"> 
                        <img src="/public/imgs/icon-product.svg" alt="Icon Product">
                        <div>Manage Product</div>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="#" class="menu-item-detail"> 
                        <img src="/public/imgs/icon-order.svg" alt="Icon Order">
                        <div>Manage Order</div>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="#" class="menu-item-detail"> 
                        <img src="/public/imgs/icon-logout.svg" alt="Icon Logout">
                        <div>Logout</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="/public/js/LayoutAdmin.js">
        
    </script>
</body>
</html>